* {
    margin: 0 auto;
    padding: 0;
}

body.dragging, body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

ul.cat li.placeholder {
    position: relative;
}

a {
    text-decoration: none;
}

.menu-list {
    display: flex;
    justify-content: space-between;
}

.left {
    padding: 20px 93px;
    width: 50%;
    margin: 0;
}

.right {
    width: 11%;
    margin: 0;
}

.right-span {
    padding: 50px;
}

.right-span:hover {
    background: #dedede;
    transition: all 0.5s;
    cursor: pointer;
}

.catalog-name {
    display: none;
}

.left:hover .catalog-name {
    display: block;
}

.catalog-name:hover {
    cursor: pointer;
}

.menu {
    padding-left: 20px;
    line-height: 25px;
    display: none;
}

.first-stage {
    position: relative;
}

.second-stage {
    position: absolute;
    left: 100px;
    top: 5px;
    display: none;
}

.third-stage {
    position: absolute;
    left: 50px;
    top: 20px;
    width: 70px;
    display: none;
}

.fourth-stage {
    position: absolute;
    left: 45px;
    top: 20px;
    width: 110px;
    display: none;
}

.first-stage:hover .second-stage {
    display: block;
    cursor: pointer;
}

.second-stage:hover .third-stage {
    display: block;
    cursor: pointer;
}

.third-stage:hover .fourth-stage {
    display: block;
    cursor: pointer;
}

.menu li:hover {
    cursor: pointer;
}

.catalog {
    margin-top: 25px;
    width: 100%;
}

.img {
    width: 80%;
}

.img img {
    width: 100%;
}

.cat {
    display: flex;
    flex-wrap: wrap;
}

.cat li {
    width: 22%;
    border: 2px solid #dedede;
    background: #fff;
    min-width: 250px;
    display: block;
    overflow: hidden;
    margin: 0 0 30px 28px;
}

.number {
    padding: 10px;
    color: gray;
}

.nam {
    padding: 8px 0;
    color: blue;
    font-size: 20px;
    width: 85%;
}

.desc {
    padding: 5px 0px;
    color: black;
    width: 83%;
}

.gen-number,
.generator,
.type,
.power,
.voltage,
.start-type,
.price-rub {
    display: none;
}

.price {
    padding: 70px 5px 5px 5px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: black;
}

.but {
    width: 70%;
    margin: 0 auto;
    padding: 20px 0px;
}

.btn {
    color: red;
    font-size: 15px;
    border: 1px solid red;
    padding: 7px 37px;
    background: white;
    text-align: center;
}

button:hover {
    cursor: pointer;
}

.prices {
    display: flex;
    padding-top: 70px;
    padding-left: 15px;
}

.rub {
    font-weight: bold;
    font-size: 18px;
    color: black;

}

.btn-cart {
    color: red;
    font-size: 15px;
    border: 1px solid red;
    padding: 5px 20px;
    background: white;
    text-align: center;
}

.name-change {
    padding: 5px 25px;
    display: none;
}

.none {
    display: none;
}

.block {
    display: block;
}

.flex {
    display: flex;
}

.ready {
    text-align: right;
    padding-right: 83px;
}

.ready-btn {
    border: 1px solid black;
    padding: 5px 25px;
    background: white;
    color: black;
    font-weight: bold;
    font-size: 18px;
    visibility: hidden;
    display: none;
}

.row {
    list-style: none;
    text-align: center;
    padding: 10px 0;
    background: #dedede;
    margin: 10px 30px;
    display: none;
}

.model {
    width: 25%;
}

.table .row {
    display: flex;
}

.table .cat li {
    display: flex;
    width: 95%;
    margin-bottom: 15px;
}

.table .img {
    width: 6%;
    border: 1px solid #dedede;
    margin: 5px;
}

.table .nam {
    width: 25%;
}

.table .gen-number {
    color: gray;
    padding: 8px;
    font-size: 15px;
    display: block;
}

.table .number {
    display: none;
}

.table .generator {
    font-size: 18px;
    padding: 8px;
    display: block;
}

.table .name {
    display: none;
}

.table .type {
    padding: 8px;
    font-size: 17px;
    width: 13%;
    margin: 0;
    align-items: center;
    justify-content: center;
    display: flex;
}

.table .power {
    padding: 8px;
    font-size: 17px;
    width: 13%;
    margin: 0;
    align-items: center;
    justify-content: center;
    display: flex;
}

.table .desc {
    display: none;
}

.table .voltage {
    padding: 8px;
    font-size: 17px;
    width: 13%;
    margin: 0;
    align-items: center;
    justify-content: center;
    display: flex;
}

.table .start-type {
    padding: 8px;
    font-size: 17px;
    width: 16%;
    margin: 0;
    align-items: center;
    justify-content: center;
    display: flex;
}

.table .price-rub {
    padding: 8px;
    font-size: 17px;
    font-weight: bold;
    margin: 0;
    width: 8%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.table .price {
    display: none;
}

.table .prices {
    display: none;
}

.table .but {
    display: none;
}

